.board {
  text-align: center;
  border-spacing: 0pt;
  font-family: 'Arial Unicode MS';
  border-collapse: collapse;
  border-color: black;
  border-style: solid;
  border-width: 0pt 0pt 0pt 0pt;
}

.square {
  width: 24pt;
  height: 24pt;
  cursor: pointer;
}

.border-square {
  border-collapse: collapse;
  border-color: black;
  border-style: solid;
}

.border-square-topleft {
  border-width: 1pt 0pt 0pt 1pt;
}

.border-square-top {
  border-width: 1pt 0pt 0pt 0pt;
}

.border-square-topright {
  border-width: 1pt 1pt 0pt 0pt;
}

.border-square-left {
  border-width: 0pt 0pt 0pt 1pt;
}

.border-square-right {
  border-width: 0pt 1pt 0pt 0pt;
}

.border-square-bottomleft {
  border-width: 0pt 0pt 1pt 1pt;
}

.border-square-bottom {
  border-width: 0pt 0pt 1pt 0pt;
}

.border-square-bottomright {
  border-width: 0pt 1pt 1pt 0pt;
}

.black-square {
  background-color: #C0C0C0;
}

.legend {
  width: 12pt;
  font-size: 14px;
}

.piece, .empty {
  font-size: 21px;
}
